nav {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  font-size: 20px;
  padding: 0 20px;
  color: white;

  ul {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;

    li {
      margin-right: 30px;
      list-style-type: none;

      a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
  button {
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 20px;
    color: black;
  }

  .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 30px;
    top: 70px;
    background-color: white;
    color: black;
    padding: 10px;
    border: 2px solid black;
    width: 300px;
    height: fit-content;
    z-index: 1;
    li {
      margin: 10px 0;
    }

    a {
      color: black;
    }
  }

  .cart {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15px;

      p {
        margin-right: 5px;
      }
    }
  }
}
