.productContainer {
  width: 400px;
  height: 600px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin: 50px;
  padding: 20px;

  h2{
    cursor: pointer;
  }

  &__img {
    border-radius: 10px;
    margin: 20px 0px;
    cursor: pointer;
  }

  &__buttonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    button {
      padding: 15px;
      border: none;
      border-radius: 10px;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}
